.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 100px;
    height: 100px;
    border: 1em solid gainsboro;
    border-top: 1em solid purple;
    border-radius: 50%;
    animation: spin 2s infinite linear;

}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}
























/* .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 75px;
    height: 75px;
    border: 10px solid #b5a9a9;
    border-top-color: aqua;
    border-radius: 50%;
    position: relative;
    animation: loading 2s linear infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(90deg);
    }


    55%{
        transform: rotate(180deg);

    }

    75%{
        transform: rotate(280deg);
    }

    100%{
        transform: rotate(360deg);
    }
} */
