.container{
    height: 150px;
    width: calc(150px*5/3);
    display: flex;
    flex-direction: column;
    /* display: grid; */
    /* grid-template-rows: repeat(3, 1fr); */
    background-color: aliceblue;
    margin: 30px auto;
}

.bar{
    flex-grow: 1;
}
.bar1{
    background-color: black;
}

.bar2{
    background-color: red;
}

.bar3{
    background-color: yellow;
}
  