body{
    background-color: aliceblue;
}

.container{
    height: 200px;
    width: calc(200px * 3/2);
    margin: 30px auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divi{
    height: calc(200px*3/5);
    width: calc(200px*3/5);
    background-color: red;
    border-radius: 50%;
}