body{
    margin: 0;
    padding: 0;
}


.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.squre{
    height: 20px;
    width: 20px;
    background: #000;
    animation: rotate 3.5s infinite;
    transform: rotate(45deg);
    animation: rotate 1.5s infinite;
}

@keyframes rotate{
    /* 0%{
        transform: rotate(45deg);
    }
    
    40%{
        transform: rotate(145deg);
    }

    60%{
        transform: rotate(245deg);
    }

    100%{
        transform: rotate(360deg);
    } */


    from{
        transform: rotate(-45deg);
    }

    to{
        transform: rotate(45deg);
    }

}


.squre-1{
    background-color: #10c3b1;
}

.squre-2{
    background-color: #9610c3;
}

.squre-3{
    background-color: #c35e10;
}