html, body{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}

.story-menu{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    max-width: 320px;
    margin: 2em auto;
}
.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.image{
    height: 60px;
    width: 60px;
    padding: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, yellow, red, purple);
}
.none{
    background: gray;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid black;
}

.viewed::after{
    content: "LIVE";
    background-color: red;
    font-size: 12px;
    border-radius: 2px;
    padding: 2px;
    position: absolute;
    top: 50%;
}







/* body{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: sans-serif;
}

.story-menu{
    padding: 0;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.story-new{
    width: 70px;
    height: 70px;
    /* border: 5px solid #fff; */
    /* background-color: white;
    border-radius: 50%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-image: linear-gradient(45deg, yellow, red, purple);
    z-index: -2; */
}

/* .live{
    background-image: none;
    background-color: gray;
}

.padding::after{
    content: "";
    height: 10px;
    background-color: red;
}

.live::after{
    content: "live";
    position: absolute;
    top: 65px;
    background-color: red;
    padding: 2px 4px;
    font-size: 13px;
    border-radius: 5px;
    z-index: 10;
}

.image{
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image::after{
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    background-color: #000;
    z-index: -1;
    border-radius: 50%;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

p{
    position: absolute;
    top: 80px;
}  */